.bg-image{
    height: 110% !important;
    width: 110% !important;
    // top: -5% !important;
    // left: -5% !important;
}

img.bg-image-overlay{
    height: 105% !important;
    width: auto !important;
    top: -2.5% !important;
    left: -2.5% !important;
}