.bg-image{
    height: 110% !important;
    width: 110% !important;
    // top: -5% !important;
    // left: -5% !important;
}

.bg-image-overlay{
     top: -5% !important;
    left: -5% !important;
    height: 110vh !important;
    width: 110vw !important;
    background-repeat: no-repeat;
    background-size: cover;
}