.logo {
    text-align: center;
    padding-bottom: 2em; 
    img {
        width: 50%;
    }
}

.login-container{
    margin: 0 10%;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    color: black;
    text-align: center;
    box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.75);

    a.button {
        display: block;
        text-decoration: none;
        background-color: pink;
        color: black;
        padding: 1em 5em;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        border-radius: 5em;
    }

    label {
        font-size: 20px;
    }

    input {
        border: solid 1px lightgrey;
        padding: 1em;
        border-radius: 5px;

        &[type=submit]{
            color: white;
            cursor: pointer;
            background-color: $colourPink;

            &:hover {

            }
        }
    }
}