$backgroundColour: #f0f0f0;

//Text
$textColour: #000000;
$fontFamily: 'Arial';

$colourPink: #D65F75;
$colourLightGreen: #E9EA90;
$colourDarkGreen: #629D43;
$colourTurqios: #52B8A2;
$colourBlue: #AADAEB;
